/*==========================================================
    PIXEL TIME EXPERIENCE
    RESPONSIVE.CSS
    Responsive Global
    Version : 1.0
    Author  : Brandon De la Cruz Hernández
==========================================================*/


/*==========================================================
    DESKTOP LARGE
    1600px
==========================================================*/

@media (max-width:1600px){

    :root{

        --container-width:1300px;

    }

}


/*==========================================================
    LAPTOP
    1200px
==========================================================*/

@media (max-width:1200px){

    :root{

        --container-width:1140px;

    }

}


/*==========================================================
    TABLET
    992px
==========================================================*/

@media (max-width:992px){

    html{

        font-size:15px;

    }

}


/*==========================================================
    TABLET SMALL
    768px
==========================================================*/

@media (max-width:768px){

    html{

        font-size:14px;

    }

}


/*==========================================================
    MOBILE
    576px
==========================================================*/

@media (max-width:576px){

    :root{

        --space-section:5rem;

    }

}


/*==========================================================
    SMALL MOBILE
    390px
==========================================================*/

@media (max-width:390px){

    html{

        font-size:13px;

    }

}